zope.deprecation==4.1.2
appdirs==1.4.3
beautifulsoup4==4.5.3
coverage==4.3.4
hupper==0.4.2
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==0.23
packaging==16.8
PasteDeploy==1.5.2
py==1.4.32
Pygments==2.2.0
pyparsing==2.2.0
pyramid==1.8.2
pyramid-debugtoolbar==3.0.5
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-tm==1.1.1
pytest==3.0.6
pytest-cov==2.4.0
repoze.lru==0.6
-e /opt/python/ondeck/app/
six==1.10.0
SQLAlchemy==1.1.6
transaction==2.1.0
translationstring==1.3
venusian==1.0
waitress==1.0.2
WebOb==1.7.1
WebTest==2.0.26
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
docutils==0.13.1
